<h1>Pirate Name: <%=@pirate.name%> Weight: <%=@pirate.weight %> Height: <%=@pirate.height%> </h1>


<h2><% @Ships.each do |ship|%>
          <%=ship.name%>
          <%=ship.type%>
          <%=ship.booty%>
  
</h2>


<!--<h2>Display your second ship here</h2>-->
